.checkout-container h1 {
  font-size: 40px;
}

main {
  max-width: 70%;
  margin: 0 auto;
}

main .checkout-container {
  display: grid;
}

.checkout-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  
} 

main .profile-card {
  margin: 1rem 0.5rem;
  box-sizing: border-box;
  border: 2px solid #333333;
  margin: 0 auto; 
  max-width: 80%;
  color: black;
  background-color: white;
}

.checkout-order  {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  margin: 3rem 0;
  color: white;
}

.checkout-order > p:nth-child(11) {
  grid-column: 3/ span 1;
}

.checkout-order > .header {
  background-color: #330809;
  font-size: 18px;
}

.total {
  border-top: 3px solid white;
  font-weight: 600;
  padding-top: 20px ;
  font-size: 18px;
  grid-column-start: span 2; 
  margin: 0;
}

.checkout {
  display: flex;
  margin-left: auto;
}

@media (max-width: 900px) {
  main .checkout-items {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  main .checkout-order {
    row-gap: 5px;
  }

  .checkout-order p {
    margin: .2rem 0;
  }
}

@media (max-width: 600px) {
  header h1 {
    font-size: 50px;
    width: 80%;
    text-align: center;
  }
}