@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  width: 100%;
  font-family: "Fira Sans", sans-serif;
  color: white;
}

header {
  width: auto;
  background-color: #3fe07f;
  display: grid;
  justify-items: center;
  align-items: center;
  color: black;
}

header h1 {
  font-size: 55px;
  margin: 3rem 0 5rem 0;
}

header .header-img {
  margin: 0;
  bottom: 0;
  width: 18rem;
}

header a, .navicon {
  width: 2rem;
  margin: 1rem;
  justify-self: flex-start;
  cursor: pointer;
}

header p {
  font-weight: 600;
  width: max-content;
  margin: 1rem 0;
}

header a {
  text-decoration: none;
  color: black;
}


main .profile-card {
  margin: 1rem 0.5rem;
  box-sizing: border-box;
}

.profile-img {
  margin: 0; 
  width: 100%;
}

.profile-img img {
  width: 100%; 
  height: auto;
}

.profile-name {
  font-size: 1.6rem;
  font-family: "Lato";
}

.profile-text {
  font-size: 1.1rem;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 1rem;
}

footer {
  background-color: #333333;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
  margin-top: 3rem;
  justify-items: center;
}

footer h1 {
  font-size: 25px;
}

footer .nav p, img {
  cursor: pointer;
}

.footer-column {
  max-width: 200px;
  justify-content: center;
}

.so-me img {
  width: 1.5rem;
  margin: 0 0.5rem;
}

.buy-btn {
  background-color: #f00;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Fira Sans", sans-serif;
}

.buy-btn:hover {
  background-color: #c00;
}

@media (max-width: 600px) {
  
  header h1{
    margin-top: 2rem;
  }

  header .header-img {
    width: 50%;
  }

  footer h1 {
    font-size: 20px;
  }

  footer {
    padding: 1rem;
  }

  footer p {
    line-height: .5rem;
    font-size: 12px;
  }

  .footer-column {
    max-width: 120px;
  }
  
}